<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>spring-hibernate-exam-simulator</display-name>
	<error-page>
		<!-- Forbidden directory listing -->
		<error-code>400</error-code>
		<location>/400.html</location>
	</error-page>
	<error-page>
		<!-- Forbidden directory listing -->
		<error-code>403</error-code>
		<location>/403.html</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<error-code>405</error-code>
		<location>/405.html</location>
	</error-page>
	<error-page>
		<!-- Unsupported servlet method -->
		<error-code>503</error-code>
		<location>/503.html</location>
	</error-page>
	<error-page>
		<!-- Uncaught exception -->
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>
</web-app>
